<!DOCTYPE html>
<html>
  <head>
  <head>
  <body>
	<div class="dropdown-content" id='dropdown'>
		<form action='/' method="get">
			<button id='initial'>Αρχική</button>
		</form>
		<form action='/logout' method="post">   
			<button id='logout_btn' >Αποσύνδεση</button>	
		</form>
	</div>
	<div class="table-data">
	  <h2> Congratulations! You managed to log in! Your user data are listed</h2>
      <table border="1">
        <tr>
          <th>  Name  </th>
          <td><%=userData.Name %></td>
          <th> Last Name </th>
          <td><%=userData.LastName %></td>
          <th>Email Address</th>
          <td><%=userData.Email  %></td>
          <th>Phone Number</th>
          <td><%=userData.Phone %></td>
          <th>Company</th>
          <td><%=userData.Company %></td>
        </tr>
      </table>
    </div>
  </body>
</html>

