<!DOCTYPE html>
<html>
  <head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="initial-scale=1.0, width=device-width" />
	<script src="https://js.api.here.com/v3/3.0/mapsjs-core.js"
	type="text/javascript" charset="utf-8"></script>
	<script src="https://js.api.here.com/v3/3.0/mapsjs-service.js"
	type="text/javascript" charset="utf-8"></script>
  </head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <body>
	<div class="dropdown-content" id='dropdown'>
		<form action='/' method="get">
			<button id='initial'>Αρχική</button>
		</form>
		<form action='/logout' method="post">   
			<button id='logout_btn' >Αποσύνδεση</button>	
		</form>
	</div>
	<div class="table-data">
	<h2>Display User Data</h2>
    <table border="1">
        <tr>
            <th>  Name  </th>
            <td><%=userData.Name %></td>
            <th> Last Name </th>
            <td><%=userData.LastName %></td>
            <th>Email Address</th>
            <td><%=userData.Email  %></td>
            <th>Phone Number</th>
            <td><%=userData.Phone %></td>
            <th>Company</th>
            <td><%=userData.Company %></td>
        </tr>
    </table>
    </div>
</body>
</html>

